extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1=title
              h2 welcomes you to an Azure Web App using NodeJs &amp; Express with Azure SQL Server &amp; Database connectivity

    section(class="main-content")
      h3 Data queried from Azure SQL Database
      h1(class="welcomeMessage") My name is #{fn} #{ln}
